*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
    
}

.main{
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002D62;
}

.generatorabaorder{
    /* border: 1px solid blue; */
    width: 430px;
    height: 320px;
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);

}
#inputText{
    width: 80%;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    text-align: center;

}

#passwordLength{
    width: 45px;
}

.sameClassToAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.GenerateBtn{
    width: 80%;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    /* border: 1px solid green; */
    /* border-radius: 25px; */


}

.btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 5px;
    /* border: 1px solid wheat; */
}